<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PalcoNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PalcoNet.Properties.Settings.GD2C2018ConnectionString1"
      connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=GD2C2018;Persist Security Info=True;User ID=gdEspectaculos2018;Password=gd2018"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <clear />
    <add key="sqlConnection"  value="Data Source= localhost\SQLSERVER2012; Initial Catalog=GD2C2018; User ID=gdEspectaculos2018;Password=gd2018" />
    <add key="FechaSistema" value="2018-12-01 00:00:00"/>
  </appSettings>
  <applicationSettings>
    <PalcoNet.Properties.Settings>
      <setting name="GD2C2018ConnectionString" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;ConnectionString&gt;Data Source=DESKTOP-2F87K01\SQLSERVER2012;Initial Catalog=GD2C2018;Persist Security Info=True;User ID=gdEspectaculos2018;Password=gd2018&lt;/ConnectionString&gt;
  &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;
&lt;/SerializableConnectionString&gt;</value>
      </setting>
    </PalcoNet.Properties.Settings>
  </applicationSettings>
</configuration>